.Drink {
  color: white;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  label {
    width: 12vw;
  }
  img {
    margin: 3vh 0;
    border-radius: 15px 15px 45px 45px;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgb(25, 25, 25) 33%,
      rgba(20, 20, 20, 1) 100%
    );
    width: 22vw;
    height: 32vw;
  }
  label.inline {
    text-align: left;
    margin-left: 2vw;
  }
  span.number {
    margin: 0 6vw;
    padding: 5vw 0;
  }
  input,
  select,
  textarea {
    width: 60vw;
    margin: auto;
    color: white;
    background-color: rgb(24, 24, 24) !important;
    border-color: rgba(107, 0, 0, 0.75);
  }
  input:focus,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  select:focus,
  textarea:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover {
    background-color: rgb(53, 18, 18);
    color: white;
    -webkit-text-fill-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
      0px 0px 8px rgba(83, 0, 0, 0.75);
    border-color: rgba(107, 0, 0, 0.75);
  }
  input {
    width: 30vw;
  }
  input.number {
    width: 10vw;
  }
  div.col {
    max-width: 0vw !important;
    margin-left: 29.1vw;
  }
  div.col #1st {
    margin-left: 80vw;
  }
  select {
    width: 12vw;
  }
  textarea {
    width: 45vw;
    min-height: 10vh;
    max-height: 30vh;
  }
  label {
    font-weight: bold;
  }
  svg {
    font-size: 2vw;
    margin: 1vw 0;
  }
  .btn-outline-danger {
    color: #6c1b1b;
    border: none;
    border-bottom: .75vh solid rgb(70, 0, 0);
    width: 20vw;
    border-radius: 0 0 1000px 1000px !important;
  }
  .btn-outline-danger:hover {
    color: #fff;
    background-color: #6c1b1b;
  }
  .btn-outline-danger:focus {
    background-color: rgba(140, 7, 7, 0.75) !important;
  }
  .btn-outline-success {
    color: rgb(35, 143, 35);
    border-color: rgb(27, 109, 27);
    border: none;
    border-top: .75vh solid rgb(27, 109, 27);
    border-radius: 1000px 1000px 0 0 !important;
  }
  .btn-outline-success:hover {
    color: #fff;
    background-color: rgb(35, 143, 35);
  }
}
