@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.Login {
  color: white;
  text-align: center;
  font-size: 1.25em;
  max-width: 100%;
  overflow-x: hidden;
  h1 {
    margin: 2.5vh auto;
    font-family: 'Concert One', cursive;
  }
  input {
    margin: auto;
    color: white;
    background-color: rgb(24, 24, 24);
    border-color: rgba(107, 0, 0, 0.75);
    width: 40vw;
    margin: 0.5vh auto 3vh;
  }
  input:focus {
    background-color: rgb(32, 32, 32);
    color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(83, 0, 0, 0.75);
    border-color: rgba(107, 0, 0, 0.75);
  }
  label {
    margin: 0.75vh 0;
    width: 10vw;
  }
  button {
    width: 40vw;
    background-color: rgba(105, 14, 14, 0.65) !important;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 1vh;
  }
}
